absl-py==0.13.0
addict==2.4.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
configparser==5.0.2
cycler==0.10.0
decorator==5.0.9
docker-pycreds==0.4.0
fsspec==2021.5.0
future==0.18.2
gitdb==4.0.7
GitPython==3.1.17
google-auth==1.31.0
google-auth-oauthlib==0.4.4
grpcio==1.38.0
idna==2.10
imageio==2.9.0
ipdb==0.13.9
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.18.0
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.4.2
matplotlib-inline==0.1.2
mmcv==1.3.0
mmcv-full==1.3.9
-e git+git@github.com:Visual-modelling/visual_modelling.git@22d6f04f2ad92a0980f18514cf380293d2138f20#egg=mmsegmentation&subdirectory=../../../../projects/Visual-modelling/visual_modelling/models/SegFormer
multidict==5.1.0
numpy==1.22.0
oauthlib==3.1.1
opencv-python==4.5.2.54
packaging==20.9
pandas==1.2.4
parso==0.8.2
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
piq==0.5.5
promise==2.3
prompt-toolkit==3.0.18
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyDeprecate==0.3.0
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch-lightning==1.3.5
pytorch-msssim==0.2.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
sentry-sdk==1.1.0
shortuuid==1.0.1
six==1.16.0
smmap==4.0.0
subprocess32==3.5.4
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
terminaltables==3.1.0
timm==0.4.12
toml==0.10.2
torch==1.8.1
torchmetrics==0.3.2
torchvision==0.9.1
tqdm==4.61.1
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.5
wandb==0.10.32
wcwidth==0.2.5
Werkzeug==2.0.1
yapf==0.31.0
yarl==1.6.3
